[Unit]
Description=Web Compose
Requires=docker.service
After=network-online.target
Wants=network-online.target

[Service]
User=root
WorkingDirectory=/home/ubuntu
ExecStartPre=-/usr/bin/docker network create web
ExecStart=/usr/bin/make up
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target

